<nav class="nav-menu">
  <%= link_to t("gws/monitor.links.back_to_thread"), request.path.include?("/management/") ? gws_monitor_management_topic_path(id: @topic) : gws_monitor_topic_path(id: @topic) %>
</nav>
