<section class="main-box">
  <%= simple_format I18n.t('gws/registration.views.reset_password.sent_mail', sender: params[:sender], user_email: params[:user_email]) %>

  <footer class="send">
    <%= link_to I18n.t("ss.reset_password"), new_gws_registration_path, class: "btn-default" %>
  </footer>
</section>