<section class="main-box">
  <%= simple_format I18n.t('gws/registration.views.confirm_password.password_changed') %>
  <footer class="send">
    <%= link_to t("ss.login"), sns_login_path, class: "btn-default" %>
  </footer>
</section>