<section class="main-box">
<h1><%= params[:sender] %> から <%= params[:user_email] %> にパスワード再設定の案内を送りました。<br>
  しばらく待ってもメールが届かない場合は、<%= params[:sender] %> からのメールが着信拒否されていないか確認の上、<br>
  <%= link_to "こちら", reset_password_gws_registration_index_path %>のリンクからパスワード再設定案内メールを再送信してください。</h1>
</section>