<section class="main-box">
  <h1><%= @sender %>から登録案内メールを<%= @item.email %>に送りました。<br>
  しばらく待ってもメールが届かない場合は、<%= @sender %>からのメールが着信拒否されていないか確認の上、<br>
  もう一度登録をしてください。</h1>
  <footer class="send">
    <%= link_to "新規登録", new_gws_registration_path, class: "btn-default" %>
  </footer>
</section>