<section class="main-box">
  <%= simple_format I18n.t('gws/registration.views.registration.confirm_email_address', sender: @sender, email: @item.email) %>
  <footer class="send">
    <%= link_to I18n.t("gws/registration.links.new"), new_gws_registration_path, class: "btn-default" %>
  </footer>
</section>