<%
  return unless @item.attend_group_ids.include?(@cur_group.id)

  links = []

  # my comment?
  if comment.user_group_id == @cur_group.id
    links << [ t('ss.links.show'), gws_monitor_topic_comment_path(topic_id: @item, id: comment), class: "btn" ]

    if comment.public?
      if comment.allowed?(:release, @cur_user, site: @cur_site)
        link = depublish_gws_monitor_topic_comment_path(topic_id: @item, id: comment)
        links << [ t('gws/monitor.links.depublish'), link, class: "btn" ]
      end
    else
      if comment.allowed?(:release, @cur_user, site: @cur_site) && !comment.workflow_requested?
        link = publish_gws_monitor_topic_comment_path(topic_id: @item, id: comment)
        links << [ t('gws/monitor.links.publish'), link, class: "btn primary" ]
      end

      if comment.answer_post? && comment.allowed?(:edit, @cur_user, site: @cur_site) && !comment.workflow_requested?
        link = edit_gws_monitor_topic_comment_path(topic_id: @item, id: comment)
        links << [ t('ss.links.edit'), link, class: "btn" ]
      end

      if comment.allowed?(:delete, @cur_user, site: @cur_site) && !comment.workflow_requested?
        link = delete_gws_monitor_topic_comment_path(topic_id: @item, id: comment)
        links << [ t('ss.links.delete'), link, class: "btn" ]
      end

      if comment.try(:workflow_member).blank? && !comment.workflow_requested?
        links[0][0] = t('gws/monitor.links.approval_application')
        links[0][2] = { class: "btn primary" }
      end

      if comment.find_workflow_request_to(@cur_user)
        links[0][0] = t('gws/monitor.links.approve')
        links[0][2] = { class: "btn primary" }
      end
    end
  else
    if @item.permit_comment? && comment.public? && comment.reply_post? && comment.closest_answer.user_group_id == @cur_group.id
      link = reply_gws_monitor_topic_comment_path(topic_id: @item, id: comment)
      links << [ t('gws/monitor.links.reply'), link, class: 'btn primary' ]
    end
  end

  return if links.blank?
%>

<div class="menu">
  <% links.each do |label, link, options| %>
    <%= link_to(label, link, options) %>
  <% end %>
</div>
