<%
  menu = []

  if comment.user_group_id == @cur_group.id && @item.attend_group_ids.include?(@cur_group.id)
    if comment.public?
      if comment.allowed?(:release, @cur_user, site: @cur_site)
        link = depublish_gws_monitor_topic_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
        menu << link_to(t('gws/monitor.links.depublish'), link, class: "btn")
      end
    else
      # my comment
      if comment.answer_post? && comment.allowed?(:edit, @cur_user, site: @cur_site)
        link = edit_gws_monitor_topic_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
        menu << link_to(t('ss.links.edit'), link, class: "btn")
      end

      if comment.allowed?(:delete, @cur_user, site: @cur_site)
        link = delete_gws_monitor_topic_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
        menu << link_to(t('ss.links.delete'), link, class: "btn")
      end

      if comment.allowed?(:release, @cur_user, site: @cur_site)
        link = publish_gws_monitor_topic_comment_path(topic_id: @item.id, parent_id: comment.parent_id, id: comment.id)
        menu << link_to(t('gws/monitor.links.publish'), link, class: "btn")
      end
    end
  else
    # # other comment
    # if @item.permit_comment? && @item.public? && @item.allowed?(:edit, @cur_user, site: @cur_site)
    #   if recursion
    #     link = new_gws_monitor_topic_parent_comment_path(topic_id: @item.id, parent_id: comment.id)
    #     menu << link_to(t('gws/monitor.links.reply'), link, class: "btn primary")
    #   else
    #     link = new_gws_monitor_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id)
    #     menu << link_to(t('gws/monitor.links.reply'), link, class: "btn primary")
    #   end
    # end
  end
%>

<% if menu.present? %>
  <div class="menu"><%= safe_join(menu) %></div>
<% end %>
