<% return if !@item.permit_comment? %>
<% return if !@item.public? %>
<% return if @item.topic_closed? %>
<% return if !@item.allowed?(:edit, @cur_user, site: @cur_site) && !@item.attend_group_ids.include?(@cur_group.id) %>
<% return if !%w(gws/monitor/topics gws/monitor/answers).include?(params[:controller]) %>

<% answer_state = @item.answer_state_hash[@cur_group.id.to_s] %>
<div class="menu">
  <% if answer_state == 'preparation' %>
    <%= button_tag(t('gws/monitor.links.public'), type: 'button', class: %w(public btn), data: { ss_action: url_for(action: :public), ss_confirm: t('gws/monitor.confirm.public') }) %>
  <% end %>

  <% if answer_state == 'public' %>
    <%= button_tag(t('gws/monitor.links.preparation'), type: 'button', class: %w(preparation btn), data: { ss_action: url_for(action: :preparation), ss_confirm: t('gws/monitor.confirm.preparation') }) %>
  <% end %>

  <% if %w(public answered question_not_applicable).include?(answer_state) %>
    <% if params[:controller] == 'gws/monitor/topics' %>
      <% new_path = new_gws_monitor_topic_parent_comment_path(topic_id: @item.id, parent_id: @item.id) %>
      <% not_applicable_path = not_applicable_gws_monitor_topic_parent_comments_path(topic_id: @item.id, parent_id: @item.id) %>
    <% elsif params[:controller] == 'gws/monitor/answers' %>
      <% new_path = new_gws_monitor_answer_parent_comment_path(answer_id: @item.id, parent_id: @item.id) %>
      <% not_applicable_path = not_applicable_gws_monitor_answer_parent_comments_path(answer_id: @item.id, parent_id: @item.id) %>
    <% end %>

    <% if new_path %>
      <%= link_to(t('gws/monitor.links.draft_comment'), new_path, class: %w(btn primary)) %>
    <% end %>
    <% if not_applicable_path && @item.descendants.where(user_group_id: @cur_group.id, post_type: "not_applicable").blank? %>
      <%= link_to(t('gws/monitor.links.question_not_applicable'), not_applicable_path, class: %w(btn primary), style: "margin-left: 0;") %>
    <% end %>
  <% end %>
</div>
